@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


* {
    box-sizing: border-box;

  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

body {
    background-image: url(img/img1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0% 10%;
}


nav {
  background-color: transparent;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li{
  height: 50px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #333;
}

nav a:hover{
  border-bottom: #dc9f0f solid 3px;
}

nav li:first-child {
  margin-right:auto;
}   

nav a.active{
  border-bottom: #dc9f0f solid 3px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-bottom {
display: none;
}

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-bottom {
    display: block;
  }
}

@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.text-highlight {
    color: #eaa42a;
}

.btn {
    padding: 10px 30px;
    border-radius: 50px;
    text-decoration: none;
    background-color: #eaa42a;
    border: none;
}

.btn:hover {
    background-color: #eac990;
    color: #ffff;
}

.white {
    color: #ffff;
}

.img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.img-small {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
}

.bg-grey {
    background-color: #d1d1d1;
}


.card {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.icon-tech {
    color: rgb(32, 34, 75);
    font-size: 50px;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }



